* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Montserrat', sans-serif;
}

.navigation {
	width: 25%;
	height: 5058.4px;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	background-color: #052434;
	box-shadow: 0px 0px 10px rgba(83, 83, 83, 0.9);
}


main {
	position: relative;
	top: 0;
	left: 25%;
	width: 75%;
	height: 100%;
	padding: 35px;
	margin-bottom: 330px;
}

.navigation img {
	width: 100%;
	height: auto;
	display: block;
	margin-top: 0.5em;
	padding: 1rem 1rem;
}


.navigation a {
	display: block;	
	padding: 1rem 1rem;
	font-size: 18px;
	text-decoration: none;
	color: #ffffff;
}


.navigation a:hover {
	color: black;
	background-color: #FFCC00;
	cursor: pointer;
}

.navigation .icon {
	display: none;
}


h2 {
	padding-top: 20px;
}

article {
	margin: 30px 20px 50px 20px;
}

article p {
	margin-bottom: 15px;
	line-height: 1.8;
}

ul, ol {
	margin: 25px 30px 25px 0;
	padding-left: 100px;
}

li {
	line-height: 1.8;
}

span {
	font-style: italic;
}


.line-code, .box-pre {
	background-color: #f2f2f2;
	padding: 4px;		
}


footer {
	position: relative;
	left: 25%;
	bottom: 0;
	width: 75%;
	text-align: center;
	font-size: 13px;
	margin-top: 20px;
	background-color: #b3b3b3;
	padding: 10px 0;
}

footer a {
	text-decoration: none;
	color: #000;
}

footer a:hover {
	color: #0769ad;
}

/* Media queries for mobile devices */

@media screen and (max-width: 500px) {	

	.navigation {
		position: fixed;
		top: 0;
		width: 100%;
		height: auto;
		box-shadow: 0px 0px 10px rgba(109, 109, 109, 0.9);
	}

 	.navigation a {
		display: none;
	}
  	
	.navigation img {	
        float: left;	
        height: 80px;
        width: auto;		
		padding: 0.5rem;
	}

	.navigation .icon {
		display: block;
		position: absolute;
		top: 0;
		right: 0;
		padding: 20px;  
		margin: 4px 0; 
	}

	main {
		position: relative;
		top: 65px;
		left: 0;
		width: 100%;
		padding: 0 30px 20px 30px;	
	}
	 
	section {
		padding-top: 60px;
		margin: auto;
	}
	
	article {
		margin: 30px 0 50px 0;
	}
 	
 	ul, ol {
		margin: 25px 25px 25px 0;
		padding-left: 30px;
		font-size: 15px;
	}

	.line-code, .box-pre {
		overflow-x: auto;
		font-size: 12px;
	}

	footer {
		left: 0;
		width: 100%;
	}

}


@media screen and (max-width: 500px) {

	.navbar-links.responsive{
		position: absolute;
		top: 67px;
		background-color: #052434;
		width: 100%;
		padding: 0 20px;
	}
  	.navbar-links.responsive a {
    	display: block;
		text-align: left;
		padding: 20px 0;
  	}	

}	